:root {
  --main-white-color: #ffffff;
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --secondary-text-color: #757575;
  --main-text-color: #212121;
  --border-color: #ececec;
  --card-border-color: #eeeeee;
  --accent-color: #2196f3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: var(--main-text-color);
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}

.section {
  padding: 94px 0 94px 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header - block */

.header {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

.header > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-web {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.2;
  color: var(--accent-color);
}

.logo-studio {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
}

.nav-list {
  display: flex;
  flex-direction: row;
  margin-left: 93px;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
}

.active {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.contacts-mail {
  margin-right: 50px;
}

.contacts-mail,
.contacts-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts-mail:hover,
.contacts-number:hover,
.contacts-mail:focus,
.contacts-number:focus {
  color: var(--accent-color);
}

/* Main - block Studio - page */

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  padding-top: 200px;
  background-color: var(--background-dark-color);
}

.get-btn {
  height: 50px;
  width: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  cursor: pointer;
  padding: 10px 32px;
  margin-top: 30px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;

  font-weight: bold;
  font-size: 16px;
  color: var(--main-white-color);
}

.about {
  padding: 94px 0 47px 0;
}

.about-list {
  display: flex;
  flex-direction: row;
}

.about-item {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  width: calc(100% / 4);
}

.about-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.about-item-text {
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.about-item + .about-item {
  margin-left: 30px;
}

.we-do {
  padding: 47px 0 94px 0;
}

.work-type-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.team-section {
  background: var(--background-light-color);
  padding: 94px 0 94px 0;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.team-item {
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-item-thumb {
  padding: 30px 0 30px 0;
}

.team-item-title {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

/* Main-block Portfolio-Page */

.filter-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  cursor: pointer;
  margin-right: 8px;
  border: none;
  outline: none;
  background: var(--background-light-color);
  border-radius: 4px;

  padding: 6px 25px 6px 24px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--main-text-color);
}

.filter-btn:focus,
.filter-btn:hover {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--main-white-color);
}

.works-list {
  display: flex;
  flex-flow: row wrap;
}

.works-list-item {
  box-sizing: border-box;
}

.top-item {
  margin-bottom: 30px;
}

.center-item {
  margin-left: 30px;
  margin-right: 30px;
}

.works-list-item img {
  display: block;
  max-width: 100%;
}

.text-thumb {
  max-width: 370px;
  background-color: #fff;
  border: 1px solid var(--card-border-color);
  padding: 24px;
}

.works-list-item .item-title {
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--main-text-color);
}

.works-list-item .works-item-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

/* Footer - block */

.footer {
  background: var(--background-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-studio {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-white-color);
}

.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: var(--main-white-color);
  margin-top: 20px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-number {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:focus,
.footer-number:focus,
.footer-mail:hover,
.footer-number:hover {
  color: var(--accent-color);
}
